.title {
  text-align: center;
  margin: 2rem;
}

.container {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 260px);
}

.link {
  text-decoration: none;
  text-align: center;
  color: inherit;
  width: auto;
  border-radius: 10px;
  background-color: rgb(28, 27, 27);
  margin: 1rem;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.link:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px;
}

.link > h2 {
  font-size: 1.3rem;
}

.info > h2::first-letter {
  color: var(--f-color);
  font-size: 1.5rem;
  line-height: var(--f-line-height);
  font-weight: var(--f-font-weight);
}

.img {
  transition: transform 0.3s ease;
}

.link:hover .img {
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}

.info {
  padding: 1rem;
}

.info > h2 {
  font-size: 1.2rem;
}

.info > p {
  margin-top: 1rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .link {
    transform: none
  }
}
