.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: inline-flex;
}

.input {
  background: #202124;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  width: 350px;
  color: white;
  padding: 1rem 2rem 1rem 1rem;
}

.input:hover {
  background: #5a5d65;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(32, 33, 36, 0.2);
}

.input:focus {
  outline: none;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 12px;
  cursor: pointer;
}
